<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

    <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

<!--    <property name="hibernate.connection.datasource">java:comp/env/HibernateService</property>-->
    <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/XEPDB1</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.username">iii_team_dba</property>
    <property name="hibernate.connection.password">iiidba</property>



    <property name="current_session_context_class">thread</property>


    <property name="hibernate.show_sql">true</property>

    <property name="hibernate.format_sql">true</property>


    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

<!--
    <mapping class="a592070.pojo.AttractionDO"/>
    <mapping class="a592070.pojo.CarVO"/>
    <mapping class="a592070.pojo.HotelVO"/>
    <mapping class="a592070.pojo.RestaurantVO"/>
    <mapping class="a592070.pojo.RegionDO"/>
    <mapping class="a592070.pojo.TravelEleAttractionDO"/>
    <mapping class="a592070.pojo.TravelEleRestaurantDO"/>
    <mapping class="a592070.pojo.TravelEleHotelDO"/>
    <mapping class="a592070.pojo.TravelEleCarDO"/>
    <mapping class="a592070.pojo.TravelSetDO"/>

    <mapping class="azaz4498.model.Article"/>
    <mapping class="azaz4498.model.ArticleType"/>
    <mapping class="azaz4498.model.Comment"/>

 
	<mapping class="iring29.model.R_OrderBean"/>  -->
	<mapping class="iring29.model.RestaurantBean"/>
	
	
	<mapping class="innocence741.model.HighSpeedRail"/>
	<mapping class="innocence741.model.T_Order_List"/>
	<mapping class="innocence741.model.CarType"/>
	<mapping class="innocence741.model.Order_table"/>
	<mapping class="innocence741.model.CarRentalCompany"/>
	
	
    </session-factory>
</hibernate-configuration>
